.cart-content {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-content h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Cart items layout */
  #cart-items {
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  .cart-item .cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .cart-item .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item .cart-item-name {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .cart-item .cart-item-price {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .cart-item .quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item .quantity-controls button {
    font-size: 1.2em;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .cart-item .remove-item {
    background-color: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .cart-item .item-total-price {
    font-size: 1.1em;
    margin-top: 10px;
  }
  
  /* Total price section */
  #total-price {
    font-size: 1.5em;
    text-align: right;
    margin-top: 20px;
  }
  /* Return to Products button */
  #return-to-products-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    font-size: 1.2em;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #return-to-products-button:hover {
    background-color: #218838;
  }
  
  /* Checkout button */
  #checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #checkout-button:hover {
    background-color: #555;
  }
  